### 95718 Public Speaking LR5 DearData 
Last Updated on 2022-02-13

In [11]:
import pandas as pd
import datetime
import re

In [2]:
raw_list = []
with open("TickTick_20210801-20200213.txt",encoding = "UTF-8") as f:
    raw_list = f.readlines()

In [3]:
df = pd.DataFrame(columns = ["Month","Day","Tag","Task"])

In [4]:
def month_convert(m):
    datetime_object = datetime.datetime.strptime(m, "%B")
    return datetime_object.month

In [5]:
for r in raw_list:
    if r.startswith("-"):
        month_string = r.split("]")[0].split("[")[1].split(" ")[0]
        month = month_convert(month_string)
        date = r.split("]")[0].split("[")[1].split(" ")[1].strip()
        string_rest = r.split("]")[1].strip()
        if string_rest.startswith("#"):
            tag = string_rest.split(" ")[0]
            task = string_rest.replace(tag,"").strip()
        else:
            tag = "General"
            task = string_rest
        df.loc[len(df)] = [month,date,tag,task]

In [7]:
df[0:20]

   Month Day      Tag                                Task
0      8   1  General  Python automation with OS - Week 4
1      8   2  General    Codeabbey with Python: 1 per day
2      8   2  General              Deep Learning - Week 2
3      8   3  General    Codeabbey with Python: 1 per day
4      8   3  General      Codeabbey with Java: 1 per day
5      8   4  General      Codeabbey with Java: 1 per day
6      8   4  General      Codeabbey with Java: 1 per day
7      8   5  General    Codeabbey with Python: 1 per day
8      8   5  General    Codeabbey with Python: 1 per day
9      8   7  General    Codeabbey with Python: 1 per day
10     8   7  General      Codeabbey with Java: 1 per day
11     8  11  General                Setup Student Afford
12     8  11  General                             Housing
13     8  12  General                         核酸 - 纸质英文报告
14     8  12  General                   Get a new phone #
15     8  13  General              Online check-in flight
16     8  16  General      Collect Student ID from office
17     8  17  General       Intramural soccer application
18     8  18  General                       On campus job
19     8  18  General                      EverFi Courses

In [8]:
df.to_excel("ticktick_summary.xlsx",index = False,encoding = "UTF-8")

In [17]:
## Word analysis
String_Dict = {}
for i in range(len(df)):
    task = df.at[i,'Task'].lower()
    task= re.sub('[^a-zA-Z]+', ' ', task)
    word_list = task.split(" ")
    word_list = [x.strip() for x in word_list if x !=""]
    for word in word_list:
        if word in String_Dict.keys():
            String_Dict[word] = String_Dict[word]+1
        else:
            String_Dict[word] = 1

In [19]:
String_Dict = {k: v for k, v in sorted(String_Dict.items(), key=lambda item: item[1],reverse=True)}

In [21]:
len(String_Dict)

255

In [22]:
sum(String_Dict.values())

1221

In [23]:
1221/255

4.788235294117647