In [4]:
import pandas as pd
import datetime

In [2]:
raw_dt = pd.read_csv("Data-Exercise-Transactions.csv")

In [11]:
raw_dt

,id,user_id,name,category,category_id,date,amount,week,year
0,674,20210106,Speedway,"[""Travel"", ""Gas Stations""]",22009000.0,2020-06-10,25.83,24,2020
1,617,20210106,Transfer to Credit Builder,"[""Transfer"", ""Debit""]",21006000.0,2021-01-03,12.64,53,2021
2,618,20210106,Visa Money Transfer,"[""Transfer"", ""Credit""]",21005000.0,2021-01-03,-12.64,53,2021
3,619,20210106,Transfer to Credit Builder,"[""Transfer"", ""Debit""]",21006000.0,2021-01-02,10.75,53,2021
4,620,20210106,Visa Money Transfer,"[""Transfer"", ""Credit""]",21005000.0,2021-01-02,-10.75,53,2021
...,...,...,...,...,...,...,...,...,...
4995,37142,10239202,WITHDRAW / PAYPAL INST XFER 000100,"[""Transfer"", ""Third Party"", ""PayPal""]",21010004.0,2020-09-08,5.00,37,2020
4996,37143,10239202,WITHDRAW / PAYPAL INST XFER 000100,"[""Transfer"", ""Third Party"", ""PayPal""]",21010004.0,2020-09-08,34.99,37,2020
4997,37144,10239202,WITHDRAW / PAYPAL INST XFER 000101,"[""Transfer"", ""Third Party"", ""PayPal""]",21010004.0,2020-09-08,5.99,37,2020
4998,37145,10239202,WITHDRAW / PAYPAL INST XFER 000101,"[""Transfer"", ""Third Party"", ""PayPal""]",21010004.0,2020-09-08,13.77,37,2020
4999,37146,10239202,WITHDRAW / PAYPAL INST XFER 000101,"[""Transfer"", ""Third Party"", ""PayPal""]",21010004.0,2020-09-08,25.14,37,2020

In [10]:
raw_dt['date'] = pd.to_datetime(raw_dt['date'], errors ='coerce')
raw_dt['week'] = raw_dt['date'].dt.week
raw_dt['year'] = raw_dt['date'].dt.year

C:\Users\yingy\AppData\Local\Temp/ipykernel_7868/635732487.py:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  raw_dt['week'] = raw_dt['date'].dt.week

In [13]:
dt_2020 = raw_dt[raw_dt["year"]==2020]

In [14]:
dt_2020

,id,user_id,name,category,category_id,date,amount,week,year
0,674,20210106,Speedway,"[""Travel"", ""Gas Stations""]",22009000.0,2020-06-10,25.83,24,2020
5,621,20210106,"Irs treas 310, xxtaxeip2","[""Tax"", ""Refund""]",20001000.0,2020-12-31,-600.00,53,2020
6,622,20210106,Transfer to Credit Builder,"[""Transfer"", ""Debit""]",21006000.0,2020-12-31,385.90,53,2020
7,623,20210106,Adjustment,"[""Transfer"", ""Payroll""]",21009000.0,2020-06-16,-1.00,25,2020
8,624,20210106,Transfer from Cassie M.,"[""Transfer"", ""Credit""]",21005000.0,2020-06-16,-20.00,25,2020
...,...,...,...,...,...,...,...,...,...
4995,37142,10239202,WITHDRAW / PAYPAL INST XFER 000100,"[""Transfer"", ""Third Party"", ""PayPal""]",21010004.0,2020-09-08,5.00,37,2020
4996,37143,10239202,WITHDRAW / PAYPAL INST XFER 000100,"[""Transfer"", ""Third Party"", ""PayPal""]",21010004.0,2020-09-08,34.99,37,2020
4997,37144,10239202,WITHDRAW / PAYPAL INST XFER 000101,"[""Transfer"", ""Third Party"", ""PayPal""]",21010004.0,2020-09-08,5.99,37,2020
4998,37145,10239202,WITHDRAW / PAYPAL INST XFER 000101,"[""Transfer"", ""Third Party"", ""PayPal""]",21010004.0,2020-09-08,13.77,37,2020
4999,37146,10239202,WITHDRAW / PAYPAL INST XFER 000101,"[""Transfer"", ""Third Party"", ""PayPal""]",21010004.0,2020-09-08,25.14,37,2020

In [17]:
dt1 = dt_2020.groupby(["user_id","week"]).agg({'amount':'sum'})

In [18]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(dt1)

                amount
user_id  week
10239202 1     -923.03
         2      659.27
         3     -649.77
         4      552.84
         5    -1869.25
         6     1781.82
         7    -1746.03
         8     1802.84
         9    -2091.49
         10    -129.13
         11    -743.51
         12    2243.98
         13   -1240.25
         14    1348.42
         15   -1533.15
         16    1494.06
         17   -3798.89
         18   -1166.30
         19    2372.46
         20     646.73
         21     179.09
         22    -913.76
         23    1949.66
         24     555.21
         25     147.16
         26      14.20
         27     346.71
         28    -531.73
         29      -6.64
         30   -1465.78
         31    -557.58
         32    2024.82
         33   -1591.96
         34      71.78
         35     715.96
         36    -649.13
         37    3840.36
         38     390.52
         39   -3324.32
         40    1612.22
         41    3881.22
         42   -4329.30
         43    -567.32
         44    2452.82
         45   -3621.04
         46    3930.34
         47   -3669.64
         48    5260.56
         49   -3075.72
         50    4546.18
         51   -2120.82
         52    1843.76
         53     282.42
20210106 1       -0.02
         2     -597.46
         3      528.43
         4     -208.60
         5      322.65
         6      -94.37
         7       86.49
         8     -446.97
         9      412.08
         10    -153.49
         11     125.34
         12     -16.55
         13      61.66
         14    -542.14
         15     567.95
         16    -128.95
         17     128.95
         18    -618.38
         19     530.37
         20    -215.15
         21     115.79
         22     154.49
         23      32.19
         24    -184.16
         25     353.95
         32    -158.60
         33      80.12
         34    -602.25
         35     646.62
         36    -935.14
         37   -5011.39
         38    2204.24
         39    3129.63
         40     -41.36
         41     435.36
         42    -436.98
         43     488.25
         44    -192.93
         45      82.24
         46     206.04
         47    -351.70
         48     133.87
         49    -466.04
         50     606.37
         51    -217.19
         52      71.35
         53     115.39